.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--red);
  border-radius: 10px;
  width: 100%;
  height: 100px;
  padding: 10px;
  align-items: center;
}
.Great {
  background-color: var(--green);
}
.Good {
  background-color: var(--yellow);
}
.Poor {
  background-color: var(--red);
}
.title {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 10px;
}
.cardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80px;
  margin-top: 5px;
}
.infoTitle {
  font-size: 16px;
}
.infoValue {
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 1440px) {
  .wrapper {
    margin-bottom: 10px;
  }
}
