.wrapper {
  display: flex;
  margin-top: 40px;
}
.colouredCard {
  height: 105px;
  border: 1px solid var(--text);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.systemValue {
  margin-top: 10px;
  font-weight: 700;
  position: relative;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (min-width: 300px) {
  .container {
    margin-left: 0;
    margin-top: 20px;
    gap: 20px 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .colouredCard {
    width: 100%;
  }
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (min-width: 540px) {
  .container {
    margin-left: 0;
    margin-top: 20px;
    gap: 20px 40px;
    grid-template-columns: repeat(auto-fill, minmax(100px, max-content));
    width: 100%;
  }
}
@media (min-width: 700px) {
  .container {
    margin-left: 20px;
    margin-top: 0;
    gap: 20px 62px;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .colouredCard {
    width: 300px;
  }
  .wrapper {
    flex-direction: row;
    align-items: center;
  }
}
