.tooltip {
  position: relative;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tooltipText {
  font-weight: 800;
}
.tooltipHint {
  width: 100px;
  position: absolute;
  line-height: 1.38;
  top: 0;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  visibility: hidden;
}

.tooltip:hover .tooltipHint {
  top: -55px;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  background: #3787ff;
  color: #ffffff;
}
